.title {
  composes: heading1 from 'part:@lyra/base/theme/typography/headings-style';
}

.list {
  composes: resetList from 'part:@lyra/base/theme/layout/helpers';
}

.item {
  composes: resetListItem from 'part:@lyra/base/theme/layout/helpers';
  padding: 1em 0;
}

.completer {
  display: block;
  font-style: italic;
}
