.root {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  min-height: 100vh;

  @nest & > div {
    max-width: 30rem;
  }
}

.choices {
  margin: 0 auto;

  @nest & > * {
    padding-top: 1rem;
  }
}