@import 'part:@lyra/base/theme/variables-style';

.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content {
  overflow: auto;
  flex-grow: 1;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 75%;
}

.communicator {
  position: relative;
  box-sizing: border-box;
  width: 25em;
  min-width: 20em;
  height: 100%;
  overflow: hidden;
}
